MetaCocktailsSwiftData.xcodeproj/project.xcworkspace/xcuserdata/jamesmenkal.xcuserdatad/UserInterfaceState.xcuserstate/

.DS_Store

MetaCocktailsSwiftData.xcodeproj/xcuserdata/jamesmenkal.xcuserdatad/

MetaCocktailsSwiftData/.DS_Store